<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="APIBaseURL" value ="https://api-pub.bitfinex.com/v2/"></add> <!--API Base URL-->
    <add key="RefreshInterval" value ="10000"></add> <!--in milliseconds-->
    <add key="RecordsLimit" value ="10000"></add>  <!--max number of records to fetch-->
    <add key="StartInterval" value ="1"></add>  <!--interval to fetch records, in hours-->
    <add key="MaxLinesDisplay" value ="100"></add>  <!--max number of lines to display-->
  </appSettings>
</configuration>